@charset "UTF-8";

.title {
  line-height: 0px;
  font-size: 50px;
  font-family: "Hiragino Sans";
  font-weight: bold;  
}
.subtitle{
  font-size: 30px;
  font-weight: bold;
}

.overview {
  font-size: 20px;  
}

.list{
  font-size: 20px;
  color: blue;
  list-style-type: none;
  text-decoration: underline; 
}
